body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
}

.icon {
    width: 64px;
    height: auto;
    margin: auto;
    flex: 0 1 auto;
}

.icon-wrapper {
    height: 72px;
    width: 72px;
    display: flex;
    border: 3px solid #3882f6;
    border-radius: 10px;
    padding: 5px;
}

.icons {
    display: flex;
    column-gap: 32px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 88px;
}

.quote-container {
    background-color: #e5e7eb;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    padding: 84px 256px;
}

.bottom-container {
    display: flex;
    padding: 32px;
    color: white;
}

.newsletter-message {
    background-color: #3882f6;
    margin: 0 auto;
    display: flex;
    padding: 16px 96px;
    align-items: center;
    column-gap: 96px;
    border-radius: 8px;
}

.main button {
    border: 0px;
    font-weight: bold;
}

button {
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    padding: 8px 24px;
    border-radius: 8px;
}

.footer {
    background-color: #1f2937;
    display: flex;
    color: white;
    justify-content: center;
}

.top-container {
    background-color: #1f2937;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 128px 94px 128px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 32px;

}

.main {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main img {
    width: 128px;
}

.logo {
    background-color: white;
    border-radius: 50%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo p {
    color: black;
    margin-top: -12px;
}

.right-links {
    display: flex;
    column-gap: 24px;
}
