body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.icon {
    width: 72px;
    height: auto;
    margin: auto;
    flex: 0 1 auto;
    cursor: pointer;
}

.icon-wrapper {
    height: 94px;
    width: 94px;
    display: flex;
    border: 3px solid #3882f6;
    border-radius: 10px;
    padding: 5px;
}

.icons {
    display: flex;
    column-gap: 32px;
}

.icons p {
    font-size: 12px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 64px;
}

.content-container h3 {
    font-size: 24px;
    font-weight: extra-bold;
    margin-bottom: 32px;
    color: #1f2937;
}

.product-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 110px;
}

.quote-container {
    background-color: #e5e7eb;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    padding: 84px 256px;
}

.bottom-container {
    display: flex;
    padding: 48px;
    color: white;
}

.newsletter-message {
    background-color: #3882f6;
    margin: 0 auto;
    display: flex;
    padding: 16px 96px;
    align-items: center;
    column-gap: 96px;
    border-radius: 8px;
}

.main button {
    border: 0px;
    font-weight: bold;
}

button {
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    padding: 8px 24px;
    border-radius: 8px;
}

.footer {
    background-color: #1f2937;
    display: flex;
    color: white;
    justify-content: center;
}

.top-container {
    background-color: #1f2937;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 128px 94px 128px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 32px;

}

.header h2 {
    font-size: 24px;
    color: #f9faf8;
}

.main {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.main img {
    width: 128px;
}

.logo {
    background-color: white;
    border-radius: 100px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo p {
    color: black;
    margin-top: -12px;
}

.right-links {
    display: flex;
    column-gap: 24px;
}
